.whole {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  background-image: url("../../assets/img/login.jpg");
  background-size: cover;
  opacity: 1;
}

.buttonclass {
  border-radius: 20px;
  border: 1px solid #ab47bc;
  background-color: #ab47bc;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  z-index: 2;
}
.ztype1 {
  order: -1;
  flex: 1 0 100%;
  color: black;
}
.ztype2 {
  z-index: 2;
  opacity: 0.5;
}
.changetoflex {
  display: flex;
  justify-content: center;
}
