.whole{
    display:flex ;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}

.buttonclass {
    border-radius: 20px;
    border: 1px solid #3ab399;
    background-color: #3ab399;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
  }
  .ztype1{
    order: -1;
    flex: 1 0 100%;
  }
  .ztype2{
      z-index: 2;
      opacity: 0.5;
  }
  .changetoflex{
    display:flex ;
    justify-content: center;
  }